# Python stuff
*.pyc
__pycache__

# Cache
.pytest_cache

# macOS
.DS_Store

# Python binaries
*.egg-info
dist
build

# log files
*.log*

# Virtual environment
venv
.venv
.python-version

# Visual Studio code settings
.vscode
